@model IEnumerable<UniversityApiBackEnd.Models.DataModels.Chapters>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListChapters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updateddBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deleteBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deleteAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListChapters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updateddBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deleteBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deleteAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
